.navigation {
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  z-index: 100;
  margin-bottom: -6rem;
  position: relative;
  font-family: sans-serif;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0 2rem;
}

.link {
  font-size: 1.3rem;
  font-weight: 300;
  transition: 0.2s;
}

.link:hover,
.link.active {
  color: rgb(37, 150, 190);
}

.logo {
  margin: auto 0;
}

@media (min-width: 768px) {
  .nav ul {
    gap: 0.5rem;
  }
}

.logo {
  display: flex;
  gap: 10px;
}

.logo h1 {
  color: rgba(14, 176, 251, 254);
}

.logo h3 {
  font-style: italic;
}

.fixed {
  background-color: white;
  color: grey;
  position: fixed;
  border-bottom: 4px solid #1d65a7;
}

@media screen and (max-width: 900px) {
  .logo h3 {
    display: none;
  }

  .logo h1 {
    padding-top: 1.2rem;
  }

  .navigation li {
    margin: 0 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .logo h1 {
    padding-top: 0.9rem;
    font-size: 1.5rem;
    padding-left: 0;
  }

  .logo img {
    height: 4rem;
    width: auto;
  }

  .navigation {
    padding: 0;
    height: 5rem;
    margin-bottom: -5rem;
  }

  .navigation li {
    margin: 0 0.7rem;
  }

  .link {
    font-size: 1rem;
  }
}
